{% extends "layout.html" %}
{% block content %}
   <header class="mb-4">
    <div class="container">
        <h1 class="text-center">Add victims</h1>
    </div>
</header>

<form action="#" method="post">
    <div class="mb-3">
        <label for="idInput" class="form-label">Id:</label>
        <input type="text" class="form-control" id="idInput" name="id" placeholder="Enter ID" value="{{ victim.id if victim else '' }}">
    </div>
    <div class="mb-3">
        <label for="nameInput" class="form-label">Name:</label>
        <input type="text" class="form-control" id="nameInput" name="name" placeholder="Enter Name" value="{{ victim.name if victim else '' }}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}