{% extends "layout.html" %}
{% block content %}
    {% if victim %}
        <header class="mb-4">
            <div class="container">
                <h1 class="text-center">edit Victim</h1>
            </div>
        </header>

        <form action="#" method="post">
{#            <div class="mb-3">#}
{#                <label for="idInput" class="form-label">Victim ID:</label>#}
{#                <input type="text" class="form-control" id="idInput" name="victim_id" placeholder="Enter Victim ID"#}
{#                       value="{{ victim.victim_id }}">#}
{#            </div>#}
            <div class="mb-3">
                <label for="nameInput" class="form-label">Name:</label>
                <input type="text" class="form-control" id="nameInput" name="name" placeholder="Enter Name"
                       value="{{ victim.name }}">

                <div class="form-group">
                    <label for="dobInput">DOB:</label>
                    <input type="date" id="dobInput" name="date_of_birth"
                           value="{{ victim.date_of_birth }}" min={{ constants.minDate }}
                           max={{ constants.maxDate }} class="form-control"/>
                </div>


                <div class="mb-3">
                    <label for="contactInput" class="form-label">Contact Info:</label>
                    <input type="text" class="form-control" id="contactInput" name="contact_info"
                           placeholder="Enter Contact Info" value="{{ victim.contact_info }}">
                </div>
{##}
{#                <div class="mb-3">#}
{#                    <label class="input-group-text" for="caseSelect">Case:</label>#}
{#                    <select class="form-select" id="caseSelect" name="case_id">#}
{#                        <option selected>Choose a case...</option>#}
{#                        <!-- cases list  -->#}
{#                        {% for case in cases %}#}
{#                            <option value="{{ case.case_id }}">{{ case.case_id }} - {{ case.case_type }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                </div>#}

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

{#        <div class="mt-4">#}
{#            <a href="{{ url_for('cases.add_case') }}" class="btn btn-secondary">Add New Case</a>#}
{#        </div>#}

    {% else %}
        <h1>sorry, no victim found</h1>
    {% endif %}
{% endblock content %}