{#{% extends "layout.html" %}#}
{#{% block content %}#}
{#    <header class="mb-3">#}
{#        <div class="container">#}
{#            <h1 class="text-center">Victims</h1>#}
{#        </div>#}
{#    </header>#}
{##}
{#    <form action="#" method="post">#}
{#        <div class="mb-3">#}
{#            <input type="text" class="form-control" name="search" placeholder="Search Victims..."#}
{#                   value="">#}
{#        </div>#}
{##}
{#        <div class="mb-3">#}
{#            <button type="submit" class="btn btn-primary">Submit</button>#}
{#        </div>#}
{#    </form>#}
{#    <div class="row">#}
{#        {% for victim in victims %}#}
{#            <div class="col-md-4 mb-4">#}
{#                <div class="card" style="width: 18rem;">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">{{ victim.name }}</h5>#}
{#                        <p class="card-text">ID: {{ victim.victim_id }}</p>#}
{#                        <p class="card-text">DOB: {{ victim.date_of_birth }}</p>#}
{#                        <p class="card-text">Contact: {{ victim.contact_info }}</p>#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <a href="{{ url_for('victims.view_victim', victim_id=victim.victim_id) }}"#}
{#                           class="btn btn-outline-primary">View</a>#}
{#                        <a href="{{ url_for('victims.edit_victim', victim_id=victim.victim_id) }}"#}
{#                           class="btn btn-outline-warning">Edit</a>#}
{#                        <a href="{{ url_for('victims.delete_victim', victim_id=victim.victim_id) }}"#}
{#                           class="btn btn-outline-danger">Delete</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{##}
{#    <a href="{{ url_for('victims.add_victim') }}" class="btn btn-primary mt-3">Add New Victim</a>#}
{##}
{##}
{#{% endblock content %}#}

{# above me is cards format, and down is tabular #}

{% extends "layout.html" %}
{% block content %}
<header class="mb-3">
    <div class="container">
        <h1 class="text-center">Victims</h1>
    </div>
</header>

<div class="mb-3">
    <form class="d-flex" role="search" action="#" method="post">
        <input class="form-control me-2" type="search" name="search" placeholder="Search Victims..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Contact info</th>
            <th scope="col">Actions</th>

{#            <th scope="col">Case id</th>#}
{#            <th scope="col">Case type</th>#}


        </tr>
    </thead>
    <tbody>
        {% for victim in victims %}
        <tr>
            <td>{{ victim.victim_id }}</td>
            <td>{{ victim.name }}</td>
            <td>{{ victim.date_of_birth }}</td>
            <td>{{ victim.contact_info }}</td>


            <td>
                <a href="{{ url_for('victims.view_victim', victim_id=victim.victim_id) }}" class="btn btn-outline-primary">View</a>
                <a href="{{ url_for('victims.edit_victim', victim_id=victim.victim_id) }}" class="btn btn-outline-warning">Edit</a>
                <a href="{{ url_for('victims.delete_victim', victim_id=victim.victim_id) }}" class="btn btn-outline-danger">Delete</a>

            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">No victims found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('victims.add_victim') }}" class="btn btn-primary mt-3">Add New victim</a>
{% endblock %}
