{% extends "layout.html" %}
{% block content %}
    <h1>victims: </h1>
    {% for victim in victims %}
        <span>{{ victim.id }}</span>
        <a href="{{ url_for('victims.view_victim',victim_id=victim.id) }}">{{ victim.name }}</a>
        <a href="{{ url_for('victims.edit_victim',victim_id=victim.id) }}">edit</a>
        <a href="{{ url_for('victims.delete_victim',victim_id=victim.id) }}">delete</a>
        <br>
    {% endfor %}
    <a href="{{ url_for('victims.add_victim') }}">add new victim</a>
{% endblock content %}