{% extends "layout.html" %}
{% block content %}
    <header class="mb-4">
        <div class="container">
            <h1 class="text-center">Add New Case</h1>
        </div>
    </header>

    <form action="{{ url_for('cases.add_case') }}" method="post">

        <div class="mb-3">
            <label for="caseIdInput" class="form-label">Case ID:</label>
            <input type="number" min="0" class="form-control" id="caseIdInput" name="case_id"
                   placeholder="Enter Case ID"
                   required>
        </div>

        <div class="mb-3">
            <label for="caseName" class="form-label">Case name:</label>
            <input class="form-control" id="caseName" name="name" placeholder="Enter Case Name"
            >
        </div>
        <div class="mb-3">
            <label for="caseDes" class="form-label">Case Description:</label>
            <input class="form-control" id="caseDes" name="description" placeholder="Enter Case Description"
            >
        </div>

        <div class="mb-3">
            <label for="caseTypeSelect" class="form-label">Case Type:</label>
            <select class="form-select" id="caseTypeSelect" name="case_type" required>
                <option value="">Select Case Type</option>
                {% for type in constants.case_types %}
                    <option value={{ type }}> {{ type }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="statusSelect" class="form-label">Status:</label>
            <select class="form-select" id="statusSelect" name="status" required>
                <option value="">Select Status</option>
                {% for status in constants.case_status %}
                    <option value={{ status }}> {{ status }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="officerSelect" class="form-label">Officer:</label>
            <select class="form-select" id="officerSelect" name="officer_id" required>
                <option value="">Select Officer</option>
                {% for officer in officers %}
                    <option value="{{ officer.officer_id }}">{{ officer.name }}</option>
                {% endfor %}
            </select>

        </div>

        <div class="mb-3">
            <label for="dateReportedInput" class="form-label">Date Reported:</label>
            <input type="date" class="form-control" id="dateReportedInput" name="date_reported"
                   min={{ constants.minDate }} max={{ constants.maxDate }} required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
