{% extends "layout.html" %}
{% block content %}
    <header class="mb-4">
        <div class="container">
            <h1 class="text-center">Edit Case</h1>
        </div>
    </header>

    <form action="{{ url_for('cases.edit_case', case_id=case.case_id) }}" method="post">
     <div class="mb-3">
            <label for="caseName" class="form-label" value="{{case.name }}">Case name:</label>
            <input class="form-control" id="caseName" name="name" placeholder="Enter Case Name"
            >
        </div>
        <div class="mb-3">
            <label for="caseDes" class="form-label" value="{{ case.description }}">Case Description:</label>
            <input class="form-control" id="caseDes" name="description" placeholder="Enter Case Description"
            >
        </div>
        <div class="mb-3">

            <label for="caseTypeSelect" class="form-label">Case Type:</label>
            <select class="form-select" id="caseTypeSelect" name="case_type" required>
                <option value={{ case.case_type }}>{{ case.case_type }}</option>
                {% for type in constants.case_types %}
                    {% if type != case.case_type %}
                        <option value={{ type }}> {{ type }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="statusSelect" class="form-label">Status:</label>
            <select class="form-select" id="statusSelect" name="status" required>
                <option value={{ case.status }}>{{ case.status }}</option>
                {% for status in constants.case_status %}
                    {% if status != case.status %}
                        <option value={{ status }}> {{ status }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="officerSelect" class="form-label">Officer:</label>
            <select class="form-select" id="officerSelect" name="officer_id" required>
                <option value={{ case.OFFICER_officer_id }}> {{ officer.officer_id }} - {{ officer.name }}</option>
                {% for officer in officers %}
                    {% if officer.id != case.officer_id %}
                        <option value={{ officer.id }}> {{ officer.officer_id }} - {{ officer.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

            <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Default checkbox
          </label>
        </div>


        <div class="mb-3">
            <label for="dateReportedInput" class="form-label">Date Reported:</label>
            <input type="date" class="form-control" id="dateReportedInput" name="date_reported"
                   value="{{ case.date_reported }}" min={{ constants.minDate }} max={{ constants.maxDate }} required>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}
