{% extends "layout.html" %}
{% block content %}
    <header class="mb-3">
        <div class="container">
            <h1 class="text-center">Case Details</h1>
        </div>
    </header>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Case ID: {{ case.case_id }}</h5>
            <p class="card-text"><strong>Type:</strong> {{ case.case_type }}</p>
            <p class="card-text"><strong>Status:</strong> {{ case.status }}</p>
            <p class="card-text"><strong>Date Reported:</strong> {{ case.date_reported }}</p>
            <p class="card-text"><strong>Officer ID:</strong> {{ case.OFFICER_officer_id }}</p>
            <!-- Add more case details here if necessary -->
        </div>
        <div class="card-body">
            <a href="{{ url_for('cases.edit_case', case_id=case.case_id) }}" class="btn btn-warning">Edit</a>
            <a href="{{ url_for('cases.delete_case', case_id=case.case_id) }}" class="btn btn-danger">Delete</a>
            <a href="{{ url_for('officers.view_officer', officer_id=case.OFFICER_officer_id) }}" class="btn btn-outline-primary">View Officer</a>
        </div>
        <a href="{{ url_for('cases.view_cases') }}" class="btn btn-primary">Back to Cases</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Victim ID</th>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Contact info</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for victim in victims %}
            <tr>
                <td>ID: {{ victim.victim_id }}</td>
                <td>{{ victim.name }}</td>
                <td>DOB: {{ victim.date_of_birth }}</td>
                <td>Contact: {{ victim.contact_info }}</td>
                <td>
                    <a href="{{ url_for('victims.view_victim', victim_id=victim.victim_id) }}"
                       class="btn btn-outline-primary">View</a>
                    <a href="{{ url_for('victims.edit_victim', victim_id=victim.victim_id) }}"
                       class="btn btn-outline-warning">Edit</a>
                    <a href="{{ url_for('victims.delete_victim', victim_id=victim.victim_id) }}"
                       class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No victims found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
