<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    {% if title %}
        <title>police - {{ title }}</title>
    {% else %}
        <title>police</title>
    {% endif %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('home') }}">Police DB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if active_tab == 'cases' %}active{% endif %}" href="#" id="navbarDropdownCases" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cases
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownCases">
            <li><a class="dropdown-item" href="{{ url_for('cases.view_cases') }}">Show All Cases</a></li>
            <li><a class="dropdown-item" href="{{ url_for('cases.add_case') }}">Add Case</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if active_tab == 'officers' %}active{% endif %}" href="#" id="navbarDropdownOfficers" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Officers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownOfficers">
            <li><a class="dropdown-item" href="{{ url_for('officers.view_officers') }}">Show All Officers</a></li>
            <li><a class="dropdown-item" href="{{ url_for('officers.add_officer') }}">Add Officer</a></li>
          </ul>
        </li>
        <!--  Victims, Suspects, Body Cams,Videos  -->
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if active_tab == 'victims' %}active{% endif %}" href="#" id="navbarDropdownVictims" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Victims
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownVictims">
            <li><a class="dropdown-item" href="{{ url_for('victims.view_victims') }}">Show All Victims</a></li>
            <li><a class="dropdown-item" href="{{ url_for('victims.add_victim') }}">Add Victim</a></li>
          </ul>
        </li>

       <!-- Suspects Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSuspects" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Suspects
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownSuspects">
            <li><a class="dropdown-item" href="{{ url_for('home') }}">Show All Suspects</a></li>
            <li><a class="dropdown-item" href="{{ url_for('home') }}">Add Suspect</a></li>
          </ul>
        </li>

        <!-- Body Cams Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBodyCams" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Body Cams
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownBodyCams">
            <li><a class="dropdown-item" href="{{ url_for('home') }}">Show All Body Cams</a></li>
            <li><a class="dropdown-item" href="{{ url_for('home') }}">Add Body Cam</a></li>
          </ul>
        </li>

        <!-- Videos Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVideos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Videos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownVideos">
            <li><a class="dropdown-item" href="{{ url_for('home') }}">Show All Videos</a></li>
            <li><a class="dropdown-item" href="{{ url_for('home') }}">Add Video</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div>
<br>

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
</div>


<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>