{% extends "layout.html" %}
{% block content %}
    <header class="mb-4">
        <div class="container">
            <h1 class="text-center">Edit Body Cam</h1>
        </div>
    </header>

    <form action="{{ url_for('body_cams.edit_body_cam', body_cam_id=body_cam.body_cam_id) }}" method="post">
        <div class="mb-3">
            <label for="serialNumber" class="form-label">Serial Number:</label>
            <input type="number" class="form-control" id="serialNumber" name="serial_number" value="{{ body_cam.serial_number }}"
                   placeholder="Enter Serial Number">
        </div>
        <div class="mb-3">
            <label for="model" class="form-label">Model:</label>
            <input type="text" class="form-control" id="model" name="model" value="{{ body_cam.model }}"
                   placeholder="Enter Model">
        </div>


        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}
