{% extends "layout.html" %}
{% block content %}
    <header class="mb-3">
        <div class="container">
            <h1 class="text-center">Body Cam Details</h1>
        </div>
    </header>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><strong>Model:</strong> {{ body_cam.model if body_cam.model != '' else 'No Model' }}
            </h5>
            <p class="card-text">Additional details about the body cam.</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>ID:</strong> {{ body_cam.body_cam_id }}</li>
                <li class="list-group-item"><strong>Serial
                    Number:</strong> {{ body_cam.serial_number if body_cam.serial_number != '' else 'No Serial Number' }}
                </li>
            </ul>
        </div>
        <div class="card-body">
            <a href="{{ url_for('body_cams.edit_body_cam', body_cam_id=body_cam.body_cam_id) }}" class="btn btn-warning">Edit Body
                Cam</a>
            <a href="{{ url_for('body_cams.delete_body_cam', body_cam_id=body_cam.body_cam_id) }}" class="btn btn-danger">Delete
                Body Cam</a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Videos recorded by this body cam: </h5>
        </div>
        <div class="card-body">

            <table class="table">
                <thead>

                <tr>
                    <th scope="col">Video ID</th>
                    <th scope="col">link</th>
                    <th scope="col">size</th>
                    <th scope="col">recording date</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for video in videos %}
                    <tr>
                        <td>{{ video.video_id }}</td>
                        <td>{{ video.link  }}</td>
                        <td>{{ video.size }}</td>
                        <td>{{ video.recording_date }}</td>
                        <td>
                            <a href="{{ url_for('video.view_video', victim_id=victim.victim_id) }}"
                               class="btn btn-outline-primary">View Video</a>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No videos found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
