{% extends "layout.html" %}
{% block content %}
    <header class="mb-4">
        <div class="container">
            <h1 class="text-center">Add Officer</h1>
        </div>
    </header>

    <form action="{{ url_for('officers.add_officer') }}" method="post">
        <div class="mb-3">
            <label for="officerIdInput" class="form-label">Officer ID:</label>
            <input type="text" class="form-control" id="officerIdInput" name="officer_id"
                   placeholder="Enter Officer ID" required>
        </div>
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name:</label>
            <input type="text" class="form-control" id="nameInput" name="name" placeholder="Enter Name">
        </div>
        <div class="mb-3">
            <label for="badgeNumberInput" class="form-label">Badge Number:</label>
            <input type="text" class="form-control" id="badgeNumberInput" name="badge_number"
                   placeholder="Enter Badge Number">
        </div>

        <div class="form-group">
            <label for="dobInput">DOB:</label>
            <input type="date" id="dobInput" name="date_of_birth"
                   value="{{ officers.date_of_birth if victim else '2023-11-20' }}"
                   min={{ constants.minDate }} max={{ constants.maxDate }}
                   class="form-control"/>
        </div>
        {#    <div class="mb-3">#}
        {#        <label for="rankInput" class="form-label">Rank:</label>#}
        {#        <input type="text" class="form-control" id="rankInput" name="rank" placeholder="Enter Rank">#}
        {#    </div>#}
        <div class="mb-3">
            <label for="rankInput" class="form-label">Rank:</label>
            <select class="form-select" id="rankInput" name="rank" required>
                <option value="">Select Rank</option>
                {% for rank in constants.officer_ranks %}
                    <option value={{ rank }}>{{ rank }}</option>
                {% endfor %}
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
